:root {
  --primary-color: #717171;
  --secondary-color: azure;
  --border-radius: 5px;
  --border-radius-large: 20px;
  --font-size-large: large;
  --font-size-larger: larger;
  --font-size-x-large: x-large;
  --font-weight-bold: 600;
  --font-weight-light: 300;
  --margin-large: 25px;
  --padding-large: 10px 20px;
  --border: 1px solid azure;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
  z-index: -1;
  position: relative;
  background-image: linear-gradient(to top, #35aaf825, #00c3ff2a, #000000f5, #000000), url("./assets/images/binairies.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--font-size-x-large) !important;
}

h3 {
  font-size: var(--font-size-larger) !important;
}

h4 {
  font-size: var(--font-size-large) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root, main {
  flex-direction: column;
}

#banniere {
  background: linear-gradient(to bottom, #ffffff00, #000000f5, #000000), url(./assets/images/banniere.png);
  background-size: cover;
  position: relative;
}

#basic-nav-dropdown,
#basic-nav-dropdown-item {
  color: var(--secondary-color);
}

#basic-nav-dropdown:hover,
#basic-nav-dropdown-item:hover {
  color: var(--primary-color);
}

#basic-nav-dropdown-item:hover {
  background-color: var(--secondary-color);
}

#bg-body-tertiary {
  background-color: var(--primary-color);
}

.custom-dropdown-left {
  display: flex;
  justify-content: left;
}

.custom-dropdown .dropdown-menu {
  background-color: var(--primary-color);
}

.custom-color,
.custom-toggle,
.custom-button,
.custom-button-2 {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  padding: var(--padding-large);
  border: var(--border) !important;
  border-radius: var(--border-radius);
}

.custom-color:hover,
.custom-toggle:hover,
.custom-button:hover,
.custom-button-2:hover {
  background-color: #0d227096 !important;
}

.custom-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#user-dropdown {
  background-color: var(--primary-color);
  border: var(--border);
  padding: 5px;
  margin: 10px;
  max-height: 70px;
  border-radius: var(--border-radius-large);
}

.userContainer {
  display: flex;
  align-items: center;
}

.userImage {
  margin-right: 25px;
  max-width: 120px;
  width: 60px;
  height: 60px;
}

.userCard {
  color: var(--secondary-color);
  margin-left: auto;
  font-weight: var(--font-weight-bold);
  font-size: medium;
}

#user-dropdown .dropdown-menu {
  background-color: var(--primary-color) !important;
}

.logoHeader {
  width: 160px;
  height: 160px;
}

.text-color,
.text-color-2,
.text-color-3 {
  color: var(--secondary-color) !important;
}

.text-color:hover {
  color: var(--primary-color) !important;
}

.text-color-3 {
  font-weight: var(--font-weight-light);
}

.text-align-left {
  text-align: left;
  margin-left: var(--margin-large);
}

.carouselItem {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.carouselItemSection {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  border-radius: var(--border-radius-large);
  border: 2px solid var(--secondary-color);
}

#longue-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.contactContainer {
  margin-top: 120px;
  margin-bottom: 160px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: var(--font-size-large) !important;
  font-weight: var(--font-weight-bold);
  color: #9c9c9c;
  font-style: italic;
}

.link {
  text-decoration: none;
}

.informations {
  text-align: justify;
}

.tabbed {
  padding-left: 1em;
  list-style-position: inside;
}

#footer {
  background-color: #1D1B20;
  color: var(--secondary-color);
  position: relative;
  bottom: 0;
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.footerLink {
  text-align: left;
}

.footerTitle {
  text-align: center;
}

.footerImage {
  width: auto !important;
  height: 90px !important;
  align-items: center;
  justify-content: center;
}

.footerImageRow {
  justify-content: center;
}

.footerContain {
  margin-bottom: 15px;
}

.copyright {
  font-size: 12px;
  display: flex;
  font-weight: var(--font-weight-bold);
  align-items: center;
  justify-content: center;
}

.imageArticle {
  max-height: 500px;
}

.newsContainer {
  margin: 20px auto;
  padding: 15px;
}

.header {
  text-align: center;
}

.header img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.userImageComment {
  max-width: 10px;
  width: 60px;
}

.userImageCommentCol {
  text-align: center;
}

.userImageContainer {
  text-align: center;
  border: 2px solid var(--secondary-color);
}

.comments {
  margin-top: 30px;
  background-color: #1D1B20;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid var(--secondary-color);
}

.commentDate {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  color: #1b1a1a;
  font-style: italic;
}

.commentName {
  font-weight: bold;
  font-size: 22px;
}

.comms {
  background-color: #717171;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 5px;
  margin: 20px !important;
  box-shadow: var(--box-shadow);
}

.comms:hover {
  box-shadow: var(--box-shadow-hover);
  transition: 0.3s;
  background-color: #767676;
}

.userImageCol {
  background-color: #717171;
  border: var(--border);
  border-radius: var(--border-radius-large);
  align-items: center;
  text-align: center;
  padding: 0px !important;
  margin: 40px;
}

.userImage1 {
  border-radius: var(--border-radius-large);
  align-items: center;
  margin-left: 30px;
  margin-right: 40px;
}

.deleteButton, .editButton, .likeButton  {
  height: fit-content;
  width: fit-content;
  background-color: #1b1a1a !important;
  border-radius: var(--border-radius-large) !important;
  border: 2px solid var(--secondary-color) !important;
  margin: 2px;
}

.deleteButton:hover {
  background-color: #ff0000 !important;
}

/* Media Queries */
@media (min-width: 768px) {
  body {
    font-size: 16px !important;
  }
  .copyright {
    font-size: 14px;
  }
  .footerContain {
    margin: 20px !important;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px !important;
  }
  .copyright {
    font-size: 14px !important;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 18px !important;
  }
}