/*Mise en forme des éléments*/
body {
  z-index: -1;
  position: relative;
  background-image: linear-gradient(to top, #35aaf825, #00c3ff2a, #000000f5, #000000), url("./assets/images/binairies.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
main {
  display: flex;
  flex-direction: column;
}


#banniere {
  background: linear-gradient(to bottom, #ffffff00, #000000f5, #000000), url(./assets/images/banniere.png);
  background-size: cover;
  position: relative;
}

#footer {
  background-color: #1D1B20;
  background-size: cover;
  color: azure;
  position: relative;
  bottom: 0;
  border-top: 2px solid azure;
  border-bottom: 2px solid azure;
  padding: 10px;
  margin: auto;
  z-index: 10;
}

#basic-nav-dropdown,
#basic-nav-dropdown-item {
  color: azure;
}

#basic-nav-dropdown:hover,
#basic-nav-dropdown-item:hover {
  color: #055d94;
}

#basic-nav-dropdown-item:hover {
  background-color: azure;
}

#bg-body-tertiary {
  background-color: #055d94;
}

.custom-dropdown-left {

  display: flex;
  justify-content: left;
}

.custom-dropdown .dropdown-menu {
  background-color: #055d94;
}

.custom-color {
  background-color: #055d94 !important;
  color: azure !important;
  padding: 10px 20px;
  border: 1px solid azure !important;
  border-radius: 5px;
}

.custom-color:hover {
  background-color: #0d227096 !important;
  color: azure !important;
  padding: 10px 20px;
  border: 1px solid azure !important;
  border-radius: 5px;
}

.custom-toggle {
  background-color: #055d94 !important;
  color: azure !important;
  padding: 10px 20px;
  border: 1px solid azure !important;
  border-radius: 5px;
}

.custom-toggle:hover {
  background-color: #0d227096 !important;
  color: azure !important;
  padding: 10px 20px;
  border: 1px solid azure !important;
  border-radius: 5px;
}

.custom-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#user-dropdown {
  background-color: #055d94;
  border: 1px solid azure;
  padding: 5px;
  margin: 10px;
  max-height: 70px;
  border-radius: 20px;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userCard {
  color: azure;
  margin-left: auto;
  font-weight: 600;
  font-size: medium;
}

#user-dropdown .dropdown-menu {
  background-color: #055d94 !important;
}

.text-align-center {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.text-align-left {
  text-align: left;
  margin-left: 25px;
}

.carouselItem {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.carouselItemSection {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  border: 2px solid azure;
}

.logo {
  width: 120px;
  height: auto;
  padding: 20px;
}

.copyright {
  font-size: 12px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-right: 20px;
}

#longue-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.text-color {
  color: azure !important;
}

.text-color:hover {
  color: #055d94 !important;
}

.text-color-2 {
  color: azure !important;
}

.contactContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-button {
  padding: 15px 30px;
  width: 200px;
  text-align: center;
  background-color: #055d94 !important;
  color: azure !important;
  border: 1px solid azure !important;
  border-radius: 5px;
}

/*Quelques requêtes média pour adapter des tailles en fonction de la résolution*/


@media (min-width: 768px) {
  body {
    font-size: 18px !important;
  }

  .logo {
    width: 140px;
  }

  .copyright {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px !important;
  }

  .logo {
    width: 160px;
  }

  .copyright {
    font-size: 16px;
  }

  .text-align-center {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 22px !important;
  }
}